.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: black;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}


    
a {
        display: inline-flex;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: aliceblue;
        text-transform: uppercase;
        margin-right: 30px;
    
}
h1 {
    color: aliceblue;
    margin-right: 400px;
      font-family: "Share Tech", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 50px;
}



.imagem1 {
    height: 100px;
    width: 150px;
    background-attachment: fixed;
    padding: 6px;
    
    
}
#button {
    padding: 10px;
    transition: transform 0.2s ease,
                background-color 0.3s ease;
    border-radius: 2em;

}
#button:hover{
    transform: scale(1.20);
    background-color:lightslategray;
}