.cabeçalho {
    background-color: black;
}
.lista_link {

    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
 
    
}
.link {
    text-decoration: none;
}


.imagem1 {
    height: 100px;
    width: 150px;
    background-attachment: fixed;
    padding: 6px;
    
    
}