.lista_link {

    background-color: black;
    
    
}
.link {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;


}
.img_principal {
    background-image: url(imagens/gatoprog.jpg);
    background-size: 1px;
    background-attachment: fixed;

}