.lista_link {

    background-color: black;
    
    
}
.link {
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;


}
.imagem1 {
    background-attachment: fixed;
    background-color: black;
}